h1 {
    font-family: Helvetica, sans-serif;
    color: white;
    
}
body {
    background: rgba(247,120,147,255);
}
p {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}