h1 {
    font-family: Helvetica, sans-serif;
    color: white;
    
}
body {
    background: rgb(235,138,255);
    background: linear-gradient(90deg, rgba(235,138,255,1) 0%, rgba(185,34,246,1) 47%, rgba(218,0,175,1) 100%);
}
p {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}
div {
    background: rgb(192,6,228);
    background: linear-gradient(90deg, rgba(192,6,228,1) 0%, rgba(104,79,255,1) 47%, rgba(85,5,173,1) 100%); 
}