h1 {
    font-family: Helvetica, sans-serif;
    color: white;
    
}
body {
    background: rgb(235,138,255);
    background: linear-gradient(90deg, rgba(235,138,255,1) 0%, rgba(22,170,219,1) 47%, rgba(0,255,177,1) 100%); 
}